{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<br><br>
	<h1>TOUS LES PRODUITS</h1>
	<hr>
	<br>
	<br>

	<div class="d-flex flex-wrap justify-content-center">
		{{ component('all_product') }}
	</div>


{% endblock %}
