<div class="card m-4">
	<div class="card-body">
		<h5 class="card-title">Blogpost Title</h5>
		<p class="card-text">Blogpost content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit molestiae quam quaerat corrupti fugiat enim dolorem, esse aspernatur porro non dignissimos fugit quae ratione temporibus!</p>
		<button class="btn btn-primary">Add To Cart</button>
	</div>
</div>
